@font-face {
    font-family: "boy font";
    src: url("./fonts/Transcity\ DEMO.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* intro */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 50px;
    box-sizing: border-box;

    /* background: linear-gradient(14deg, white 50%, blueviolet 50%); */
    background: linear-gradient(-20deg, transparent 50%, blueviolet 50.3%);
}
.intro-img {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url('./images/zoomed-out-front.png');
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 400px;
    min-height: 180px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.intro-img > h1 {
    font-family: "boy font";
    font-size: 50px;
    margin: 0 20px 20px 0;
    color: antiquewhite;
}

.intro-text {
    background-color: white;
    width: 60%;
    padding-left: 20px;
    height: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.intro-text > h2 {
    font-family: "boy font";
    font-size: 40px;
}
.intro-socials {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}
.intro-icon {
    width: 40px;
}

/* projects */

.work {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.work > h2 {
    font-family: "boy font";
    font-size: 50px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.project-card {
    background-color: blueviolet;
    color: antiquewhite;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-img {
    max-width: 350px;
    max-height: 200px;
}
.project-desc {
    width: 100%;
}
.project-header {
    display: flex;
    flex-direction: row;
}
.project-icon {
    width: 30px;
}
.project-icon-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}